@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Quicksand", sans-serif;
    background-color: #fff4e7;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Start Header Section */
header {
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#navbar {
    top: 0;
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    position: fixed;
    overflow: hidden;
    z-index: 999;
}
#navbar img {
    width: 70px;
    margin-left: 5rem;
    padding: 5px;
}
#navbar ul {
    display: flex;
    margin-right: 7rem;
}
#navbar ul li a {
    padding: 5px 20px;
    color: beige;
    font-weight: 600;
}
#navbar ul li a:hover {
    border-bottom: 2px solid #23ec0c;
    opacity: 0.7;
}
.content {
    position: absolute;
    top: 62%;
    left: 20%;
    transform: translate(-50%, -20%);
    text-align: center;
}
header .content h1 {
    font-size: 80px;
    color: #23ec0c;
}
header .content p {
    margin: 20px 0;
    color: beige;
    font-size: 30px;
    margin-left: 200px;
}
header::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
header *{
    z-index: 99;
}
header video {
    position: absolute;
    top: -25px;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}  
/* End Header Section */
/* Start FAQS Section */
.second-page {
    background-color: #fff4e7;
}
h3 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.accordion {
    width: 80%;
    padding: 10px 0 60px;
    margin: auto;
}
.accordion li {
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 7px 7px 10px -1px rgba(0, 0, 0, 0.20);
                /* -6px -6px 10px -1px rgba(255, 255, 255, 0.7);                                        */
}
.accordion li label {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}
label::before {
    content: "+";
    font-size: 28px;
    font-weight: 600;
    margin-right: 10px;
}
input[type="radio"]{
    display: none;
}
.accordion .answer {
    font-size: 18px;
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;      /* to hide answer */
    overflow: hidden;   /* to hide answer */
    transition: max-height 0.5s, padding 0.5s;
} 
.accordion input[type="radio"]:checked + label + .answer {
    max-height: 400px;
    padding: 10px 10px 20px;
}
.accordion input[type="radio"]:checked + label::before {
   content: "-";
}
/* End FAQS Section */
/* Start Four Main Parts */
.container {
    width: 95%;
    margin: auto;
}
#main-parts {
    height: 175vh;
    background-color: #f4f4f4;
}
#main-parts .main-parts {
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-parts .main-parts .part {
    width: calc(25% - 5px);
    margin: 0 20px;
    margin-bottom: 150px;
}
#main-parts .main-parts .part:last-child{
    margin-right: 0;
}
#main-parts .main-parts img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    /* opacity: 0.8; */
}
#main-parts .main-parts img:hover {
    box-shadow: 7px 7px 10px -1px rgba(0, 0, 0, 0.6);
    width: 305px;
    height: 405px;
    transition: 0.4s;
    opacity: 1;
}
#main-parts .main-parts h4 {
    font-size: 30px;
    margin: 15px 0;
    font-weight: 700;
}
#main-parts .main-parts p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px 0;
    line-height: 26px;
}
#main-parts .main-parts button {
    padding: 15px 20px ;
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    background-color: #23ec0c;
    color: #fff;
    border-radius: 30px;
    border-style: none;
}
#main-parts .main-parts button:hover {
    cursor: pointer;
    background-color: #17a108;
    transition: 0.5s;
}
.numbers {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.numbers h6{
    font-size: 80px;
    color: #23ec0c;
}
.numbers p {
    font-size: 30px;
}
/* End Four Main Parts */
/* Start Footer */
#footer {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 40px 0;
    font-size: 24px;
}
/* End Footer */


