{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available opportunities</title>
    <link rel="stylesheet" href="{% static 'css/job.css' %}">
    
</head>
<body>
    
    {% csrf_token %}
    <div id="navbar">
        <a href="{% url 'main' %}">
            <img src="{% static 'img/logo.png' %}" alt=""  >
        </a>
        
        <ul>
            <li> <a href="{% url 'main' %}">Home</a></li>
            <li> <a href="{% url 'main' %}#faqs">FAQs</a></li>
            <li><a href ="{% url 'quiz' %}">Quiz</a><li>
            <li><a href ="{% url 'jobs' %}">Available Jobs</a><li>
            <li> <a href="{% url 'roadmaps' %}">Roadmaps</a></li>
            <li> <a href="{% url 'show_comments' %}">Students Experience</a></li>
        </ul>
    </div>
    <div class="main">
        <h2>Explore exciting career opportunities that await you after completing each major.</h2>
        <p>Here you can find Examples for top job tiltes for each major</p>
    </div>

    <div class="container">
        <div class="flib-card">
            <div class="box">
                <div class="face front"><img src="{% static 'img/information.jpg' %}" alt="Information System"></div>
                <div class="face back">
                    <h5>Top Job Titles in Information System Major</h5>
                    <ul>
                        <li> Web Developer (Frontend or backend)</li>
                        <li> Network Adminstrator</li>
                        <li> Database Adminstrator</li>
                        <li>  Data Analyst</li>
                        <li> Data Scientist</li>
                        <li> Business Analyst</li>
                        <li> Information System Manager</li>
                        <li> Information System consultant</li>
                        <li> CyperSecurity Analyst</li>
                        <li> Software Engineer</li>
                        <li> Computer programmers</li>
                        <li>  System Adminstrator</li>
                    </ul>
                </div>
            </div>
        </div>
       <div class="flib-card">
            <div class="box">
                <div class="face front"><img src="{% static 'img/Accounting.jpg' %}" alt="Accounting"></div>
                <div class="face back">
                    <h5>Top Job Titles in Accounting Major</h5>
                    <ul>
                        <li> Controller</li>
                        <li> Bookkeeper</li>
                        <li> Accountant</li>
                        <li>  Staff Accountant</li>
                        <li> Accounting Clerk</li>
                        <li> Accounting Manager</li>
                        <li> Auditor</li>
                        <li> CPA (Certified Public Accountant)</li>
                        <li> Tax Accountant</li>
                        <li> Accounting Payable Clerk</li>
                        <li>  Accounts Receivable Specialist</li>
                        <li> Cost Accountant</li>
                        <li> Accounting Representative</li>
                        <li> Accounting Coordinator</li>
                    </ul>
                </div>
            </div>
       </div>
       
       <div class="flib-card">
            <div class="box">
                <div class="face front"><img src="{% static 'img/Business.jpg' %}" alt="Business"></div>
                <div class="face back">
                    <h5>Top Job Titles in Business Adminstration Major</h5>
                    <ul>
                        <li> Executive</li>
                        <li> Manager</li>
                        <li> Marketing manager</li>
                        <li>Product manager</li>
                        <li>Project manager</li>
                        <li> Operations and production</li>
                        <li>Chief executive officer (CEO)</li>
                        <li> Chief operating officer (COO)</li>
                        <li>Chief financial officer or controller (CFO)</li>
                        <li>Chief marketing officer (CMO)</li>
                        <li>Chief technology officer (CTO)</li>
                        <li>Human Resources Assistance</li>
                        <li>Sales Representative</li>
                        <li>Business consultant</li>
                    </ul>
                </div>
            </div>
       </div>
           
       <div class="flib-card">
            <div class="box">
                <div class="face front"><img src="{% static 'img/Politics.jpg' %}" alt="Political"></div>
                <div class="face back">
                    <h5>Top Job Titles in Politics Major</h5>
                    <ul>
                        <li> Political consultant</li>
                        <li> Legislative aside or assistance</li>
                        <li>Pubic Relation Manager</li>
                        <li>Policy Analyst</li>
                    </ul>
                </div>
            </div>
       </div>

       <div class="flib-card">
            <div class="box">
                <div class="face front"><img src="{% static 'img/Finance.jpg' %}" alt="Finance"></div>
                <div class="face back">
                    <h5>Top Job Titles in Business Adminstration Major</h5>
                    <ul>
                        <li> Payroll Clerk</li>
                        <li> Broker </li>
                        <li> Junior Financial Analyst</li>
                        <li> Finance Clerk</li>
                        <li>Financial Advisor Assistant</li>
                        <li>Purchasing Clerk</li>
                        <li> Finance Intern</li>
                        <li>Financial Analyst</li>
                        <li>Treasurer</li>
                        <li>Payroll Manager</li>
                    </ul>
                </div>
            </div>
       </div>
            
       <div class="flib-card">
            <div class="box">
                <div class="face front"><img src="{% static 'img/Economics.jpg' %}" alt="Economics"></div>
                <div class="face back">
                    <h5>Top Job Titles in Business Adminstration Major</h5>
                    <ul>
                        <li> Credit Analyst</li>
                        <li>personal Finance Advisor</li>
                        <li> Supply Chain Analyst</li>
                        <li>Policy Analyst</li>
                        <li>Economic Consultnat</li>
                        <li>Business Reporter</li>
                        <li>Statistician</li>
                    </ul>
                </div>
            </div>
       </div>
    </div>
</body>
</html>